<div class="user-list-container">
  <h2>Lista de Usuarios</h2>
  <div class="actions">
    <button (click)="loadUsers()" class="btn-primary">Cargar Usuarios</button>
    <button (click)="newUser()" class="btn-primary">Nuevo Usuario</button>
  </div>

  @if(showForm()){
  <form *ngIf="showForm()" [formGroup]="userForm" (ngSubmit)="submitUser()">
    <div>
      <label>Nombre</label>
      <input formControlName="name" />
      <div class="error" *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
        El nombre es obligatorio y debe tener al menos 3 caracteres
      </div>
    </div>
    <div>
      <label>Email</label>
      <input formControlName="email" />
      <div class="error" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
        Email inválido
      </div>
    </div>
    <div>
      <label>Username</label>
      <input formControlName="username" />
      <div
        class="error"
        *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched"
      >
        El username es obligatorio y debe tener al menos 3 caracteres
      </div>
    </div>
    <div>
      <label>Ciudad</label>
      <input formControlName="city" />
      <div class="error" *ngIf="userForm.get('city')?.invalid && userForm.get('city')?.touched">
        Ciudad obligatoria
      </div>
    </div>
    <div>
      <label>Empresa</label>
      <input formControlName="company" />
      <div
        class="error"
        *ngIf="userForm.get('company')?.invalid && userForm.get('company')?.touched"
      >
        Empresa obligatoria
      </div>
    </div>
    <button type="submit" [disabled]="userForm.invalid">Crear Usuario</button>
  </form>

  } @if(loading){
  <div class="loading">Cargando usuarios...</div>
  } @if(error){
  <div class="error">
    Error: {{ error }}
    <button (click)="clearError()" class="btn-close">×</button>
  </div>
  } @if(users.length > 0 && !loading){
  <div class="users-grid">
    @for (user of users; track user.id) {
    <div class="user-card" [attr.data-testid]="'user-card-' + user.id">
      <h3>{{ user.name }}</h3>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Ciudad:</strong> {{ user.address.city }}</p>
      <p><strong>Empresa:</strong> {{ user.company.name }}</p>

      <div class="user-actions">
        <button (click)="updateUser(user.id)" class="btn-edit">Editar</button>
        <button (click)="deleteUser(user.id)" class="btn-delete">Eliminar</button>
      </div>
    </div>
    }
  </div>
  } @if(users.length === 0 && !loading && !error){
  <div class="empty-state">No hay usuarios para mostrar</div>
  }
</div>
